.exams-form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.exams-form .MuiFormControl-root {
    width: 400px;
}
.exams-form .MuiInput-root {
    margin: 15px 0;
}